/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import 'materialize';
@import "materialize/components/color-variables";
$primary-color: #e3dac9 !default;
$secondary-color: #e3dac9 !default;


html {
  scroll-behavior: smooth;

}

.nav-wrapper{
  background-color: #35293d;
}

.nav ul a{
  color: #f7f7f7;
}

nav ul li:hover {
  background-color:#e3dac9;
}

