/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
    @import "materialize/components/color-variables";
    $primary-color: #6b5b94 !default;
    $secondary-color: #d7dee1 !default;
    @import 'materialize';

html {
  scroll-behavior: smooth;
}
		
nav ul li:hover {
    background-color: white;
}

.card{   
    text-decoration: none;
    text-align: center;
    padding: 0px;
}

.card .card-content{
    padding:0px;
}

.jobs-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main h1{
    text-align: center;
}

.card-action{
    color: hotpink;
}

.row{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
  }

.card{
    height:200px;
}

#card-container{
    width: 300px;
    padding-left:10px;
    padding-right:10px;
}

#card-content p{
    color: black;
   
}

.btn{
    background-color: hotpink;
}



   
   //  @import "https://fonts.googleapis.com/icon?family=Material+Icons";
