// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Media Query Ranges

.row {
	height: 100%
}

.valign-wrapper {
  display: flex;
  align-items: center;
}

#home-section {
  min-height: calc(100vh - 60px);
	position: relative;
}

#about-section {
  min-height: calc(100vh - 60px);
  position: relative;
	display: flex;
	flex-direction: row;
}

// Iphone X portrait and landscape.

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
  .about-content {

		.row {
		  min-height: calc(100vh - 60px);
		  position: relative;
			display: flex;
			flex-direction: column;

			.card {
			  width: 100% !important;
				display: block;
      }
    }
  }
}

#job-section {
  min-height: calc(100vh - 60px);
  position: relative;
}

.home-body {
  background-image: asset_url("alcohol-bar-bartender-274194.jpg");
	background-size:cover;
	width: auto;
	margin: auto;
}

.about-body {
  max-width: 1240px;
	padding: 0;
	margin: auto;
	width: auto;
}

.job-body {
	margin: 0px 10px;
}
