// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.valign-wrapper {
  display: flex;
  align-items: center;
}

#home-section {
  min-height: calc(100vh - 60px);
  position: relative;
}

#about-section {
  min-height: calc(100vh - 60px);
  position: relative;
}

.home-body {
	border: 2px solid grey;
  max-width: 1240px;
	width: auto;
	padding: 0px 20px;
	margin: auto
}

.about-body {
  max-width: 1240px;
	width: auto;
	padding: 0px 20px;
	margin: auto
}
