// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
	display: block;
  width: 100%;
  
}
.centering {
  text-align: center;
}
.jobs-container {
  min-height: calc(100vh - 60px);
  position: relative;
}
.centering, .card-title, .card-content, .card-action{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.row {
  min-width: 1200px;
  padding-left: 305px;
}
.new-job{
  text-align:center;
}

@media only screen and (max-width: 750px) {
  .row {
    padding-left: 450px;
  }
}
@media only screen and (max-width: 500px) {
  .row {
    padding-left: 550px;
  }
}

