
<div class="home-body valign-wrapper" id="home-section">
	<div class="home-container">
		<div class="container">
		  <div class="col">
		    <div class="card horizontal">
		      <div class="card-stacked">
		        <div class="card-content">
							<h1>GrapeVine</h1>
							<p>Need a bartender for a private function, for a party at home or a hall?
							Maybe you have a busy week coming up at work and don’t want to hire someone casually?
							Or you’re a previous bartender just looking for a side gig for some extra cash</p>
		        </div>
		        <div class="card-action">
		          <a href="#about">Learn More</a>
		        </div>
		      </div>
		    </div>

	          <a href="#about">Learn More</a>

		  </div>
		</div>
	</div>
</div>

<%= render 'home/about' %>

<div class="row">
	<div class="col s12">
		<div class="container vlaign-wrapper" id="job-section">
		  <div class="job-body">
			  <div class="home-title center">
				  <h4>Jobs</h4>
				</div>
			</div>
		</div>
		<div class="divider"></div>
		  <div class="job-content">
		  </div>
  	</div>
  </div>
</div>
