<body class="home-body">
<div class="home-container">
<h1>Home#index</h1>
<p>Need a bartender for a private function, for a party at home or a hall? 
Maybe you have a busy week coming up at work and don’t want to hire someone casually?
Or you’rea previous bartender just looking for a sidfe gig for some extra cash</p>
</div>
</body>