	        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
			<h5 class="white-text">GrapeVine</h5>
                <p class="grey-text text-lighten-4">Find and hire a bartender today for your own private events and functions.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Company</h5>
                <ul>
                  <li> <a href="#about">About us</a> </li>
                  <li><a href="https://twitter.com/GrapeVi72693496">Twitter</li> 
				</ul>
				<h5 class="white-text">Existing Members</h5>
				<ul>
                  <li> <%= link_to "Post Jobs", new_job_path %> </li>
                  <li> <%= link_to "Browse Jobs", jobs_path %> </li>
                </ul>
              </div>
            </div>
          </div>
          <span class="footer-copyright">
            <div class="container">
            © 2019 Copyright Text
        </footer>